registry=http://angular.macroproyectos.com/verdaccio
//angular.macroproyectos.com/:_authToken="vKkmG+WJm04wmlW1P4yUiyCS4z77uoP4vlpZwL8TkOU="
//registry.npmjs.org/:_authToken=9ba82ddc-3c9a-4475-a165-161d57abb7da
@gulp-sourcemaps:registry=https://registry.npmjs.org/
//angular.macroproyectos.com/verdaccio/:_authToken="vKkmG+WJm04wmlW1P4yUiyCS4z77uoP4vlpZwL8TkOU="
